<%- include("header")%>
    
        <form action="persona" method="post">
            <label for="nom">Nom:</label>
            <input type="text" name="nombre" id="nombre">
            <label for="Cognom" >Cognom:</label>
            <input type="text" name="apellido" id="apellido">
            <button type="submit">Enviar</button>
        </form>

<%- include("footer")%>
