body{

    display: grid;
    grid-template-columns: 1fr 6fr; 
    grid-template-rows:auto 3fr auto;
    grid-template-areas:
    "nav nav"
    "aside main "
    "footer footer"
    ;     
}
nav{
grid-area: nav;
background-color: aquamarine;
color: rgb(255, 255, 255);
padding-left: 10px;
}
footer{
    grid-area: footer;
background-color: blue;
color: rgb(255, 255, 255);
padding-left: 10px;

}
aside{
    grid-area: aside;
    background-color: cyan;
    display: grid;
    grid-template-rows: repeat(4,0fr);
    padding-left: 10px;
}
main{
    grid-area: main;
background-color: darksalmon;
padding-left: 10px;


}
.enlaces{
    text-align: center;
}
