<%- include("header")%>
    
        <form action="/usuari" method="post">
            <label for="nom">Nom:</label>
            <input type="text" name="nom" id="nom">
            <label for="email" >email:</label>
            <input type="text" name="email" id="email">
            <button type="submit">Enviar</button>
        </form>

<%- include("footer")%>
