.seccio-noticies{

    padding: 0;
}
.encapçalament{

    background-color: #444;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    text-align: center ;
}
.imatges{

    width: 100px;
    float: left;
}
.titol_Noticies{
margin-bottom:0px;
font-weight: bold;
color: darkblue;
}
.textos{
    font-family: 'Times New Roman', Times, serif;
    margin:20px;
    margin-inline: 5px;
}
.enllaços{
    text-decoration: none;
    color: #006102;
}
.enllaços:hover{
    text-decoration: underline;
    color: #be188c;
}
.noticia{
    display: flex;
    flex-direction: column;
    border-bottom: solid rgb(84, 80, 80) 1px;
    padding: 5px;
    margin: 5px;
}