nav{

     background-color: antiquewhite;
    justify-content: space-between;
    align-items: center;
    padding:5px;
    width: 100%;
    
    
}
.links{

    text-decoration: none;
}
.links:hover{

    color: rgb(185, 62, 62) ;
    align-self: flex-start; 
    transition: all 0.5s ease-out ;
    font-size: large;
    

}

.cercar{

    border-radius: 5px;
}
.boton{
    display:none;
}
@media screen and (max-width: 1024px) {
   
   .enlaces{
    display: none;
   }
    .boton{

        display: block;
    }
}
@media screen and (max-width: 430px) {

    .enlaces{
     display: none;
    }
    .cercar{
        display:none;
    }
     .boton{
 
         display: block;
     }
 }
 .sobre_nos{


justify-content: space-evenly;
padding-top:20px;
padding-bottom: 20px;

 }
 .div_sobre{

    width: 50%;
    align-self: center;
 }

.grande{

    border-radius: 5px;
}
article{
    margin: 10px;
    height: 30%;
    width: 20%;
    text-align:  center;
    border-radius: 5px;
    background-color: cornflowerblue;
}
article:hover{
    
    transform: scale(1.05);
}
.nostres_serveis{

justify-content:  space-evenly;
flex-wrap: wrap;

}
.color_nos{
color: rgb(109, 78, 249)

}
.fondo{

    background-color: rgb(214, 214, 214);
}

.contacte{

    align-self: center;
    width: 60%;
    
}
.centrado{

    text-align: center;
}
.marg_bot{
    margin-bottom: 3%;
}
.marg_top{
    margin-top: 5px;
}
.bold{
    font-weight:bold ;
}
footer{

align-items: center;
justify-content: center;
width: 100%;
background-color: rgb(12, 10, 10);

}
.Sp-ev{

justify-content: space-evenly;

}
.sombreado{

    box-shadow: 3px 3px 8px rgb(112, 112, 112);
}
.ancho{
    width:250px;
}
.blanco{
    color: white;
}
.fondo_blanco{
    background-color: white;
}
.Width100{
    width:100%;
}
.logo{
width: 20px;
height: 20px;

}
.flexC{
    display: flex;
    flex-direction: column;
}
.flexR{
    display: flex;
    flex-direction: row;
}
.wh10x10{
    height: 100px;
    width: 100px;
}
.pad_bot{
    padding-bottom: 15px;
}

