.Cuerpo {

    background-color: rgb(84, 155, 152);

}

.Naveg {

    background-color: rgb(214, 194, 169);
    width: 300px;
    padding-left: 5px;
    float: left;
    border-radius: 5%;
}

.Links {
    display: block;
    margin-bottom: 5px;

}

.main {
    float: none;
    padding:5px;
    background-color: rgb(192, 149, 132);
    border-radius: 3%;
    margin-left: 305px;
    height: auto ;
    display: table;

}

.footer {

    height: 25px;
    background-color: rgb(43, 108, 104);
    text-align: center;
    padding-top: 5px;
    border-radius: 5%;
    
}

.fotos{
    
    width: 100px;
    height: 150px;
    margin: 0 auto;
}
.contenedores{
    width: 150px;
    height: auto;
    background-color: antiquewhite;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    float: left;
    border-radius: 5%;
    margin: 5px;
}

