
body{

    background-color: beige;
}
h2{
text-align: center;

}
ul {
  margin: 0;
  padding: 0;
}

li {
  
  position: relative;
  padding: 10px;
  font-size: 18px;
  margin-bottom: 5px;
  margin-top: 5px;
  border-radius: 10px;

}

li:hover {
  background: #ddd;
}

li.checked {
  background: #0be0208a;
  text-decoration: line-through;
}
.notchecked{
  background: #c2c0c0;
}


.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 10px;
}

.close:hover {
  background-color: #f44336;
  color: white;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}


input {
  margin: 10px;
  border-radius: 10px;
  width: 80%;
  padding: 10px;
  font-size: 16px;
}

.addBtn {
  padding: 10px;
  width: 20%;
  background: #d9d9d9;
  color: #000000;
  text-align: center;
  font-size: 16px;
  border-radius: 10px;
}

.Nomostrar{

  display: none;
}
button{

  padding: 10px;
  width: 20%;
  background: #d9d9d9;
  color: #000000;
  text-align: center;
  font-size: 16px;
  border-radius: 10px;
  border: 0;
  margin-left: 10px;

}
.deleteados{

  display: none;
}