body{

    background-color: beige;
}
textarea{
    text-align: center;
    width: 30%;
    border-radius: 5px;
    padding: 10px;
    height: 5px;
}
button{
    width: 10%;
}
.centrado{
    align-self: center;
}
.tareas{
    border-radius: 5px;
}
.divTareas{
    width: 33.3%;
    height: 40%;
}
.FlexC{
    display: flex;
    flex-direction: column;
}
.FlexR{
    display: flex;
    flex-direction: row;
}
h2{
    text-align: center;
}
.marginBot{
    margin-bottom: 10px;
}
.rojo{
    background-color: rgb(172, 13, 13);
    width: 20%;
}
.done{

    background-color: rgba(29, 192, 14, 0.658);
}
.doing{
background-color: rgba(245, 245, 69, 0.687);
}
.toDo{
    background-color: rgba(184, 7, 7, 0.584);
}
