.div{
    height: 200px;
    width:-webkit-fill-available;
    background-color: black;
    display: none;
}
.none{
    display: none;
}
.div1{

    height: 200px;
    width:auto;
    background-color:blue;
    border-radius: 5px;
}
img{
    height: 200px;
    width:auto;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}
.datepicker{
    height: 200px;
    width:auto;
    background-color:brown;
    border-radius: 5px;

}
