.div{
    height: 15%;
    width:15%;
    display: none;
    margin-left: 10px;
    border-radius: 5px;
    cursor: pointer;
    
}

.none{
    display: none;
}

img{
    height: 200px;
    width:auto;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}
.datepicker{
    height: 200px;
    width:auto;
    background-color:brown;
    border-radius: 5px;

}
.FlexR{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-self: center;
    width:-webkit-fill-available;
  }
h1{
    background-color: cyan;
    height: 100px;
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 0;
}
body{
   padding: 0;
   margin: 0;
   display: flex;
   flex-direction: column;
   background-color: aliceblue;
}
button{
    align-self: center;
    margin: 10px;

}
.Precio{
    width: 20%;
    margin: 10px;
    text-align: center;
}
.W40{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
p{
    margin:10px;
}
.Precio-slider{
    width: 30%;
}